/* Fuente */
@font-face {
    font-family: 'Baloo 2 ExtraBold';
    src: url('../Fonts/Baloo2-ExtraBold.ttf');
}

/* Estructura */
.how-root {
    -fx-background-color: #410445;
}



/* Botón (copiado exacto de login.css) */
.neon-button {
    -fx-font-family: 'Baloo 2 ExtraBold';
    -fx-text-fill: white;
    -fx-background-color: #A5158C;
    -fx-background-radius: 30;
    -fx-border-color: #F6DC43;
    -fx-border-width: 2;
    -fx-border-radius: 30;
    -fx-pref-width: 280px;
    -fx-pref-height: 60px;
    -fx-effect: dropshadow(gaussian, rgba(246,220,67,0.3), 10, 0, 0, 2);
    -fx-cursor: hand;
}

.neon-button:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #410445, #2D0230);
    -fx-text-fill: #FF2DF1;
    -fx-effect: dropshadow(gaussian, rgba(246,220,67,0.6), 15, 0, 0, 3);
}

.neon-button:pressed {
    -fx-translate-y: 2px;
    -fx-effect: dropshadow(gaussian, rgba(246,220,67,0.1), 5, 0, 0, 1);
}