/* Estructura general */
.background {
    -fx-background-color: #410445;
    -fx-background-radius: 20;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.7), 30, 0, 0, 0);
}

/* Título */
.title {
    -fx-fill: #FF2DF1;
    -fx-effect: dropshadow(gaussian, rgba(246, 220, 67, 0.2), 15, 0.3, 0, 0);
    -fx-text-alignment: center;
}

/* Campo de texto */
.name-field {
    -fx-text-fill: #FF2DF1;
    -fx-prompt-text-fill: #A939A1;
    -fx-alignment: center;
    -fx-background-color: rgba(65, 4, 69, 0.5);
    -fx-background-radius: 30;
    -fx-border-color: linear-gradient(to bottom, #F6DC43, transparent);
    -fx-border-width: 2;
    -fx-border-radius: 30;
    -fx-pref-width: 500px;
    -fx-pref-height: 55px;
    -fx-padding: 0 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
}

/* Placeholder - Asegurar fuente Baloo 2 */
.name-field .text-input {
    -fx-font-family: "Baloo 2 ExtraBold";
}

/* Botones */
.neon-button {
    -fx-text-fill: white;
    -fx-background-color: #410445;
    -fx-background-radius: 30;
    -fx-border-color: linear-gradient(to bottom, #F6DC43, #A5158C);
    -fx-border-width: 2;
    -fx-border-radius: 30;
    -fx-pref-width: 280px;
    -fx-pref-height: 60px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(246, 220, 67, 0.3), 10, 0, 0, 2);
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-padding: 0;
    -fx-font-family: "Baloo 2 ExtraBold";
}

/* Efectos hover */
.neon-button:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #410445, #2D0230);
    -fx-effect: dropshadow(gaussian, rgba(246, 220, 67, 0.6), 15, 0, 0, 3);
    -fx-text-fill: #FF2DF1;
    -fx-translate-y: -1;
}